body {
    background-image: url('white-waves.png');
}
#playground {
    width: 570px;
    margin: auto;
    display: flex;
    margin: 30px auto;
}

#commands {
    float: left;
    width: 90px;
    height: 490px;
}
#container {
    border: 5px solid black;
    width: 480px;
    height: 480px;
    display: grid;
    float: right;
    margin-left: -50px;
}
.content {
    background-color: white;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 60px;
    margin-right: 10px;
    margin-left: -50px;
    height: 30px;
    width: 80px;
}
